.header-wrapper {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    >div {
        display: flex;
        align-items: center;
        h1 {
            margin-left: 15px;
        }
    }
}