.App {
    font-family: sans-serif;
    background-color: #E2E5EE;
    height: 100%;
    color: #2D303A;
    padding: 20px;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

.paragraph-text {
    font-weight: normal;
    line-height: 1.6;
    font-size: 14px;
}

.title-text {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
}

.secondary-color--blue {
    color: #138EE4;
}

.secondary-color--deep {
    opacity: .7;
}

.secondary-color--light {
    opacity: .5;
}

::placeholder {
    color: #B8BECC;
    font-size: 16px;
}

.password-input {
    width: 70%;
    margin: 0 auto;
}


/* Invite Memebers style */

.invite-input {
    justify-content: space-between;
}

.invite-input div {
    width: 50%;
}

.invite-add-item {
    color: #138EE4;
    margin: 0 20px;
    border-bottom: 1px solid #E2E5EE;
}

.invite-add-item i {
    margin-right: 5px;
}

.invite-add-item span {
    display: flex;
    align-items: center;
}

.invite-add-item span:nth-child(1) {
    margin-right: 37px;
}

.invite-info-text {
    max-width: 70%;
    margin: 25px auto;
}


/* Invite Memebers styles */


/* New Project styles */

.new-project-input {
    padding-top: 0 !important;
    justify-content: space-between;
}

.new-project-options {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin: 0 20px;
    border-top: 1px solid #E2E5EE;
}

.new-project-options i {
    font-size: 18px;
    margin-right: 10px;
    opacity: .6;
}


/* New Project styles */

.input-no-border input {
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
    border-color: #6069FC;
    border-width: 2px
}

.input-no-border input:hover {
    border-color: #6069FC;
}


/* select */

.select-no-border .ant-select-selection {
    border: 0;
}


/* select */


/* Utility classes */

.f-10 {
    font-size: 10px;
}

.f-12 {
    font-size: 12px;
}

.f-14 {
    font-size: 14px;
}

.f-16 {
    font-size: 16px;
}

.pl-20 {
    padding-left: 20px;
}

.pr-20 {
    padding-right: 20px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.p-20 {
    padding: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.center {
    text-align: center;
}